/build/
/dist/

*.elf
*.self
*.fake.self
*.pkg
*.gnpdrm.pkg
*.map
*.spec
*.psufdb

__pycache__/
*.pyc
*.pyo

*.log
*.tmp
*.bak

/.env
/.env.*
/.vs/
/.vscode/
/.idea/

/research/
/tools/backups/
/PSUF_PC_Updater_Data/

Thumbs.db
.DS_Store
